*{
	Font-family:century gothic;
	Font-weight:bold;
}
fieldset{
	background-color: #F8F8F8 ;
	opacity: 0.95;
	border-radius: 11px;
	border: 1px solid: #DEDEDE;
	width: 324px;
	}
img{
	padding: 1em;
	width: 200px;
}

.titulo{
	font-size: 30px;
}

.return{
	width: 200px;
	height: 50px;
	border-radius: 11px;
	background-color: #EF9292  ;
}
