*{Font-family:serif;}
label{
	Font-family:century gothic;
	Font-weight:bold;
}

fieldset{
	border-left: 10px solid green;
	border-right: 10px solid red;
	opacity: 0.9;
	border-radius: 12px;
	width: 120px; 
	background-image: url('../img/fondito.jpg');
}

select{
	color:#A91F1F;
	border-radius: 12px;
}

#logo{
	width: 155px;
}

.botonmenos{
	text-align: center;
	width: 30px;
	height: 30px;
	color:#FF0000;
	font-weight: bolder;
	font-size: 18px;
	background-image: url('../img/pelota.jpg'); 
	border-radius: 25px;
}

.botonmas{
	text-align: center;
	width: 30px;
	height: 30px;
	color:#FF0000;
	font-weight: bolder;
	font-size: 18px;
	background-image: url('../img/pelota.jpg'); 
	border-radius: 25px;
}

.botonmas:hover {
	color:rgb(255,255,0);
}

.botonmenos:hover {
	color:rgb(255,255,0);
}